.name {
    background-color:lavender ;
}

.id {
    background-color: cornflowerblue;
}

.department {
    background-color: lemonchiffon;
}

.class {
    background-color:lightcyan;
}

th ~ td {
    display: none;
}

th, td {
    border: 2px solid black;
    font-size: 2em;
    padding: 0.5em;
    color: #000000;
}

table {
    border-collapse: separate;
}

th:hover ~ td {
    display: block;
}